

/* ==========================================================================
   Daniel Perez Arrieta
   ========================================================================== */


/**
 * 1. Basic Layout
 */

body {
  max-width: 960px;
  margin: 0 auto;
}

header[role=main] {
  margin: 15px 0 15px;
  padding: 5px 0 5px;
  border-bottom: 3px solid #ddd;  
}

header[role=main] h2 {
  margin: 0;
}

header[role=main] img {
  max-width: 100px;
}

section {
  padding: 20px 0 20px;
}

article {
  padding: 0 15% 0;
}

a,
a:hover {
  text-decoration: none;
}
/**
 * 2. Typography
 */

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.2em;
}

article > h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

header[role=main] h2 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

/**
 * 3. Colors
 */

body,
a {
  color: #bcbbbb;
}

a:hover {
  color: #999;
}

/**
 * 4. Alignment and Positioning
 */

section article h1,
section article p {
  text-align: center;
}

/**
 * 5. Custom Classes
 */

.logo {
  max-width: 110px;
}

.uppercase {
  text-transform: uppercase;
}

.thin {
  font-weight: 100;
}

.feature-text {
  text-align: center;
}

/**
 * 6. Media Queries
 */

@media only screen and (min-width: 770px)  {

  article {
    padding: 0;
  }

  article h1 {
    font-size: 1.8em;
  }

  .feature-text {
    text-align: left;
    font-size: 1.7em;
  }


}






